# PodX TUI Test Results

## Overview

These test results are in response to a manual test through the [TUI Test Plan](./TUI_TEST_PLAN.md).

## Test 1.
